{% extends 'base.html.twig' %}

{% block body %}
    <div class="row gy-2 w-100">
        <div class="col-12">
            <twig:Alert type="warning" message="{{ 'message_lifetime'|trans({interval: messageLifetime}) }}" class="w-100" />
        </div>
        {{ form(form) }}
    </div>
{% endblock %}
